:root {
    --col-050: #f9fafb;
    --col-100: #f3f4f6;
    --col-200: #e5e7eb;
    --col-300: #d1d5db;
    --col-400: #9ca3af;
    --col-500: #6b7280;
    --col-600: #4b5563;
    --col-700: #374151;
    --col-800: #1f2937;
    --col-900: #111827;
    --col-950: #030712;
    --txtsvg-pry: hsla(221, 26%, 12%, 0.96);
    --txtsvg-sec: hsla(221, 26%, 12%, 0.56);
    --txtsvg-dis: hsla(221, 26%, 12%, 0.36);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

label {
    color: var(--txtsvg-pry);
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 700;
}

/* Dropdown */
.Dropdown {
    position: relative;
    height: 36px;
    width: 240px;
}

.Dropdown.is-open {
    --scale-menu: 1;
    --outline-toggle: 1px solid var(--col-300);
    --shadow-toggle: 0 0 8px -2px var(--col-300);
}

.Dropdown .bx {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.Dropdown-toggle {
    overflow: hidden;
    background-color: white;
    display: flex;
    align-items: stretch;
    height: 100%;
    border: 1px solid var(--col-300);
    border-radius: 6px;
    outline: var(--outline-toggle, none);
    box-shadow: var(--shadow-toggle, none);
}

.Dropdown-toggle-search {
    background-color: transparent;
    color: var(--txtsvg-pry);
    padding-left: 10px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 400;
}

.Dropdown-toggle-search::placeholder {
    color: var(--txtsvg-dis);
}

.Dropdown-toggle .bx {
    color: var(--txtsvg-sec);
    padding: 0 6px;
    font-size: 1.6rem;
}

.Dropdown-menu {
    z-index: 100;
    overflow: hidden;
    position: absolute;
    top: 100%;
    background-color: white;
    margin-top: 6px;
    height: fit-content;
    width: 100%;
    border: 1px solid var(--col-300);
    border-radius: 6px;
    scale: var(--scale-menu, 0);
}

.Dropdown-menu-header {
    color: var(--txtsvg-sec);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    height: 36px;
    border-bottom: 1px solid var(--col-100);
    font-size: 1.4rem;
    font-weight: 700;
}

.Dropdown-menu-header .bx {
    padding: 0 4px;
    font-size: 2rem;
}

.Dropdown-menu-header .bx:hover {
    color: var(--txtsvg-pry);
}

.Dropdown-menu-list {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    max-height: 180px;
    list-style: none;
}

.Dropdown-menu-list-option {
    overflow: hidden;
    color: var(--txtsvg-pry);
    display: flex;
    align-items: center;
    height: 36px;
    border-bottom: 1px solid var(--col-100);
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 400;
}

.Dropdown-menu-list-option.is-selected {
    color: var(--txtsvg-pry);
    font-weight: 700;
    --scale-option: 1;
}

.Dropdown-menu-list-option:last-child {
    border-bottom: none;
}

.Dropdown-menu-list-option:hover {
    background-color: var(--col-100);
}

.Dropdown-menu-list-option .bx {
    padding: 0 10px;
    font-size: 2rem;
    scale: var(--scale-option, 0);
}