:root {
  --col-050: #f9fafb;
  --col-100: #f3f4f6;
  --col-200: #e5e7eb;
  --col-300: #d1d5db;
  --col-400: #9ca3af;
  --col-500: #6b7280;
  --col-600: #4b5563;
  --col-700: #374151;
  --col-800: #1f2937;
  --col-900: #111827;
  --col-950: #030712;
  --symbol-pry: hsla(220, 30%, 8%, 0.96);
  --symbol-sec: hsla(220, 30%, 8%, 0.60);
  --symbol-off: hsla(220, 30%, 8%, 0.48);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
  color: var(--symbol-pry);
  font-size: 1.4rem;
  font-weight: 700;
}

/* Componente: Single Search Selection Dropdown */
.Dropdown {
  position: relative;
  height: 40px;
  width: 240px;
  &.is-open {
    --Select-position-byOpen: absolute;
    --Select-outline-byOpen: 1px solid var(--col-300);
    --Select-shadow-byOpen: 0 2px 10px -2px var(--col-300);
    --Menu-scale-byOpen: 1;
    --foo: var(--col-300);
    --Search-open-cursor: text;
    .Dropdown-curtain {
      position: fixed;
      top: 0;
      left: 0;
      background-color: transparent;
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .bx {
    color: var(--symbol-off);
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 100%;
    font-size: 2rem;
    cursor: pointer;
  }
  .Dropdown-select {
    position: var(--Select-position-byOpen, static);
    background-color: white;
    display: flex;
    height: 100%;
    width: 100%;
    border: 2px solid var(--col-300);
    border-radius: 8px;
    box-shadow: var(--Select-shadow-byOpen, none);
    &:hover {
      border-color: var(--foo, var(--col-400));
      /* box-shadow: 0 2px 10px -2px var(--col-300); */
      /* outline-color: var(--col-400); */
      /* outline: 1px solid var(--col-300); */
    }
    .bx:last-child {
      color: var(--symbol-pry);
    }
    .Dropdown-search {
      background-color: transparent;
      color: var(--symbol-pry);
      width: 100%;
      border: none;
      outline: none;
      font-size: 1.4rem;
      font-weight: 500;
      cursor: var(--Search-open-cursor, pointer);
      &::placeholder {
        color: var(--symbol-off);
        font-weight: 500;
      }
    }
  }
  .Dropdown-menu {
    z-index: 101;
    overflow: hidden;
    position: absolute;
    top: calc(100% + 6px);
    background-color: white;
    width: 100%;
    border: 2px solid var(--col-300);
    border-radius: 8px;
    box-shadow: var(--Select-shadow-byOpen, none);
    transform: scale(var(--Menu-scale-byOpen, 0));
    .Dropdown-list {
      overflow-x: hidden;
      overflow-y: scroll;
      height: fit-content;
      max-height: 180px;
      list-style: none;
      &.is-short {
        overflow-y: hidden;
      }
      .Dropdown-option {
        overflow: hidden;
        color: var(--symbol-pry);
        display: flex;
        align-items: center;
        height: 36px;
        /* border-top: 1px solid var(--col-100); */
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 400;
        &:hover {
          background-color: var(--col-100);
        }
        &.is-selected {
          background-color: var(--col-200);
          color: var(--symbol-pry);
          /* border-color: var(--col-200); */
          font-weight: 700;
          --scale-option: 1;
        }
        &.is-focused {
          background-color: var(--col-100);
        }
        &.is-hidden {
          display: none;
        }
        .bx {
          padding: 0 8px;
          font-size: 2rem;
          /* transform: scale(var(--scale-option, 0)); */
        }
      }
    }
    .Footer {
      color: var(--symbol-sec);
      display: var(--display-last-option, none);
      justify-content: center;
      align-items: center;
      height: 36px;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}
